article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
::selection {
	background-color: var(--color-selection);
  }
p{
	line-height: 1.8;
	margin: 0;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 1.6em;
    margin: 0.67em 0;
	line-height: 0;
	font-weight: 700 !important;
}
h2{
	font-size: 1.5em !important;
}
h3{
	font-size: 1em;
	font-weight: 700 !important;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C""\201D""\2018""\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button,
input {
    line-height: 1.6;

}
button{
	background-color: var(--color-bg);
	stroke: var(--color-link);
	border: 2px solid var(--color-link);
	padding: 12px 12px;
	transition: transform 0.3s ease-in-out;
	color: var(--color-link);
	display: flex;
	flex-direction: row;
	font-weight: 700 !important;
	font-size: 16px;
	border-radius: 32px;
    align-items: center;
	gap:0;
}
button:hover{
	border-color: var(--color-link);
	color: var(--color-link-hover);
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Inicio */
*,
*::after,
*::before {
	box-sizing: border-box;
}
body {
	--color-text: #313131;
    --color-bg: #f5f5e5;
	--color-dots:#f2f2d9;
    --color-link: #630cb5;
    --color-link-hover: #3d10d2;
    --color-info: #313131;
    --grid-item-bg: #e3d9fa;
    --color-close:  #630cb5;
	--color-selection: #d0c5eb;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	color: var(--color-text);
	background-color: var(--color-bg);
	background-image: linear-gradient(to left, var(--color-dots) 1px, transparent 3px);
	background-size: 120px 12px;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: url(../img/rotacao-loading.svg);
	position: fixed;
	z-index: 100000;
	top: 25%;
	left: 45%;
	transform: translate(-50%, -50%);
	width: 158px;
	height: 158px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	animation: loaderAnim 0.7s infinite;
	transform-origin: center center;
	margin: 0;
	padding: 0;
}

@keyframes loaderAnim {
	from {
		transform: rotate(0deg);
	  }
	  to {
		transform: rotate(360deg);
	  }
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
}

.frame {
	position: relative;
	padding: 1.5rem 2.5rem;
	animation: easeFrame 0.8s ease-in-out;
}

.frame a:hover {
	color: var(--color-link-hover);
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	text-align: center;
	font-size: 1rem;
}

.codrops-header__title {
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
	margin-left: 2em;
	font-family: 'Montserrat';
}

.info {
	margin: 0 0 0 1.25em;
	color: var(--color-info);
}

.github {
	display: block;
	margin: 0.15em 0.15em 0.15em 0.5em;
	padding: 0.25em;
}

.title {
	text-align: center;
}

.title2{
	margin-bottom: 16px;
}

.title__name,
.title__sub {
	font-weight: normal;
	margin: 0;
	font-size: 1rem;
}

.title__sub {
	position: relative;
	margin: 0;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.grid-wrap {
	position: relative;
	max-width: 1224px;
	margin: 0 auto;
	padding: 6rem 1rem 0;
}

.wrap2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid-wrap--hidden {
	height: 0;
	overflow: hidden;
}

.grid {
	margin: 0 auto;
	position: relative;
	display: none;
}

.js .grid {
	display: block;
}

.grid__item {
	width: 260px;
	position: relative;
	padding: 2.75rem;
	margin-bottom: 5rem;
	animation: slideDown 1.2s ease-in-out;
}

.grid__item-wrap {
	position: relative;
}

.grid__item-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--grid-item-bg);
	animation: slideDown duration timing-function delay iteration-count direction fill-mode;
}

.grid__item-img {
	pointer-events: none;
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	outline: 1px solid transparent;
}

.grid__item:nth-child(even) .grid__item-img {
	transform: rotate3d(0,0,1,4deg);
}

.grid__item:nth-child(odd) .grid__item-img {
	transform: rotate3d(0,0,1,-4deg);
}

.grid__item-title {
	font-weight: normal;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 1rem;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	transform-origin: 0 50%;
}

.grid__item-number {
	font-weight: 700;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 2.65rem;
	margin: 0 0 0.15rem;
}

.grid__item-number > span {
	display: inline-block;
}

.content {
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	pointer-events: none;
}

.js .content {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.content__item {
	padding: 10rem 5vw 10rem;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item {
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
}

.js .content__item--current {
	height: auto;
	opacity: 1;
	padding: 3rem 5vw 10rem;
	pointer-events: auto;
}

.content__item-intro {
	position: relative;
	display: flex;
	align-items: center;
}

.content__item-img {
	position: relative;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0 24px;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item-img {
	visibility: hidden;
}

.content__item-title {
	position: relative;
	font-size: 7vw;
	line-height: 1;
	text-align: center;
	margin: 0;
	padding: 0 5vw;
	white-space: nowrap;
	grid-area: 1 / 1 / 1 / 1;
}

.content__item-title > span {
	white-space: pre;
	display: inline-block;
}

.content__item-subtitle {
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	margin: 3rem auto;
}
.item__button{
	border-radius: 32px;
	border-width: 2px;
	border-color: var(--color-link);
}

.content__item-text {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
	opacity: 0 !important;
}

.content__item-text p {
	margin: 0;
}

.content__close {
	position: absolute;
	top: 0.75rem;
	left: 50%;
	z-index: 10000;
	transform: translateX(-50%);
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: var(--color-text);
	font-size: 1.5rem;
}

.content__close:focus {
	outline: none;
}

.content__item--current ~ .content__close {
	pointer-events: auto;
}

.content__indicator {
	position: absolute;
	top: calc(100vh - 6rem);
	left: calc(50% - 0.75rem);
	display: none;
}

.js .content__item-title > span,
.js .content__item-subtitle,
.js .content__item-text,
.content__close,
.content__indicator {
	opacity: 0;
}


/* Área de hero */
.hero__grid-wrap{
	padding-top:3em;
}
.grid__hero{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	margin: auto;
}
.hero__infos{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 32px;
}
.hero__title{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
}
.title__first-name{
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	animation: slideDown 0.8s ease-in-out;
} 
.title__last-name{
	animation: slideDown 1.2s ease-in-out;
}
.title__first-name, .title__last-name{
	font-size: 6em;
}
.hero__subtitle{
	animation: slideDown 1.8s ease-in-out;
	font-size: 1.5em;
}
.title__last-name, .hero__subtitle{
	padding-left: 120px;
	width: 522px;
}
.floating__btn{
	position: fixed;
	bottom: 32px;
	right: 32px;
	animation: easeFrame 1.4s ease-in-out;   
}
.btn__header-mobile{
	display: none;
}
.btn__header{
	margin-left: 1em;
	gap: 8px;
}
.floating__btn-mobile{
	display: none;
}
button:hover, button:focus, button:active {
	-webkit-transform: translateX(8px);
	transform: translateX(8px);
	cursor: pointer;
}
.btn__small{
	padding: 8px;
	font-size: 14px;
}
.btn__primary{
	background-color:#ffffff;
}
.btn__primary:hover{
	background-color: var(--color-link);
	color: var(--color-bg);
}
.hero__text{
	font-size: 1rem;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	line-height: 200%;
	width: 100%;
	animation: slideDown 1.2s ease-in-out;
}
.hero__img{
	flex: none;
	order: 0;
	flex-grow: 0;
}
.grid4{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
}
.grid3{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 16px;
	animation: slideDown 1.6s ease-in-out;
}
.img__hero-grid{
	display: flex;
	align-items: flex-start;
	margin-bottom: 32px;
}
.img__hero-rotate {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	animation: slideDown 0.8s ease-in-out;
  }
  .img__text-circle {
	width: 90px; /* ajuste o tamanho da imagem como desejar */
	height: 90px; /* ajuste o tamanho da imagem como desejar */
	background-image: url("../img/rotacao.svg");
	background-repeat: no-repeat;
	background-position: center;
	animation: rotate 10s linear infinite; /* ajuste a duração da animação como desejar */
	transition: transform 0.5s ease-in-out; /* adiciona uma transição suave na transformação */
  }
  .img__hero-al {
	position: absolute;
	z-index: 1;
	width: 36px; /* ajuste o tamanho do elemento como desejar */
	height: 26px; /* ajuste o tamanho do elemento como desejar */
	background-image: url("../img/rotacao-al.svg");
	background-repeat: no-repeat;
	background-position: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  @keyframes rotate {
	from {
	  transform: rotate(360deg);
	}
	to {
	  transform: rotate(0deg);
	}
  }
  @keyframes slideDown {
	0% {
	  transform: translateY(-50px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes easeFrame {
	from {
		opacity: 0;
	}
	to{
		opacity: 1;
	}
  }

/* Área dos números */
.grid5{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding: 0px;
	gap: 32px;
	justify-content: space-between;

}
.grid6{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	gap: 16px;
}
.icon-espec{
	margin-left: 0;
    	margin-right: auto;
	padding: 12px;
	background-color: var(--grid-item-bg);
	border-radius: 50%;
	width: 52px;
}
.number__01{
	animation: slideDown 1.6s ease-in-out;
}
.number__02{
	animation: slideDown 1.8s ease-in-out;
}
.number__03{
	animation: slideDown 2.0s ease-in-out;
	margin-bottom: 32px;
}
.area-title{
	animation: slideDown 0.8s ease-in-out;
}

/* Área de cursos */
.img__course{
	width: 340px;
	height: 192px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	background-image: url("../img/course1.png");
	transition: background-image 0.5s ease-in-out;

}
.item__curs{
	margin-bottom: 48px;
	animation: slideDown 1.2s ease-in-out;
}
.text__curs{
	text-decoration: underline;
	font-weight: 700;
}

/* Efeito da imagem */

button:hover, button:focus, button:active {
	-webkit-transform: translateX(8px);
	 transform: translateX(8px);
	 cursor: pointer;
}
@keyframes loop {
   0% { transform-origin: 0% 50%; transform: scale3d(0,1,1); }
   50% { transform-origin: 0% 50%; transform: scale3d(1,1,1); }
   51% { transform-origin: 100% 50%; }
   100% { transform-origin: 100% 50%; transform: scale3d(0,1,1); }
}
.hover-reveal {
   position: fixed;
   width: 360px;
   height: 202px;
   top: 0;
   left: 0;
   pointer-events: none;
   opacity: 0;
   z-index: 99;
}
.hover-reveal__inner,
.hover-reveal__img {
   width: 100%;
   height: 100%;
   position: relative;
}
.hover-reveal__deco {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #181314;
}
.hover-reveal__img {
   background-size: cover;
   background-position: 50% 50%;
}
/* Media query */
@media screen and (min-width: 55em) {
	.frame {
		display: grid;
		align-items: start;
		justify-items: start;
		grid-template-columns: 40% 60%;
		grid-template-areas: 'title header';
	}
	.codrops-header {
		grid-area: header;
		justify-self: end;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-items: center;
		text-align: left;
	}
	.codrop-links__bottom {
		margin-bottom: 2em;
	}
	.title {
		grid-area: title;
		display: flex;
		text-align: left;
	}
	.title__sub {
		position: relative;
		padding: 0 0 0 5rem;
		margin: 0 0 0 1rem;
	}
	.title__sub::before {
		content: '';
		height: 1px;
		width: 4rem;
		background: currentColor;
		position: absolute;
		top: 0.65rem;
		left: 0;
	}
	.title__sub-works {
		display: block;
	}
	.grid__item-number {
		right: -2.45rem;
	}
	.grid__item-title {
		margin-left: -0.25rem;
	}
	.content__item-subtitle {
		font-size: 3vw;
	}
	.content__item-text {
  		column-count: 2;
  		column-gap: 20px;
  	}
	.content__item-img {
		max-width: none;
		height: calc(100vh - 6rem);
	}
	.content__item-subtitle {
		max-width: 100%;
	}
	.content__indicator {
		display: block;
	}
}

@media (max-width: 1224px) {
	.grid__hero{
		flex-direction: column;
		width: 100%;
	}
	.hero__title{
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 24px;
	}
	.hero__subtitle{
		width: 100%;
		display: none;
	}
	.title__last-name, .hero__subtitle{
		padding: 0;
		width: 100%;
	}
}
@media (max-width: 900px) {
	.grid-wrap{
		padding-top: 16px;
	}
	.grid5{
		flex-direction: column;
	}
	.grid6{
		flex-direction: column;
	}
	.fill__container{
		display: block;
		width: 100%;
	}
	h1{
		zoom: 0.6;
	}
	.codrops-header{
		display: flex;
		flex-direction: column-reverse;
	}
	.title{
		display: none;
	}
	.title2{
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	.codrop-links__bottom{
		margin-bottom: 6em;
	}
	.btn__small{
		width: auto;
		margin: auto;
	}
	.codrops-header__title{
		display: none;
	}
	.codrops-links{
		display: flex;
	}
	.codrop-links__bottom{
		display: flex;
		flex-direction: row;
	}
	.btn__header{
		display: none;
	}
	.btn__header-mobile{
		display: flex;
		width: fit-content;
		margin-bottom: 1em;
	}
	.js .loading::after {
		left: 30%;
	}
}
@media (max-width: 500px) {
	.hero__title{
		flex-direction: column;
		gap: 16px;
		align-items: center;
		text-align: center;
	}
	.img__hero-grid{
		justify-content: center;
	}
	.floating__btn{
		display: none;
	}
	.floating__btn-mobile{
		display:flex
	}
}
